# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

# Settings

# case sensitive - for example "UserName"
USER=""

# create repos from this folder subfolders - for example "/temp"
FOLDER=""
